<h4 class="pt-3">A rendelőben elhelyezett behívó kijelző felülete:</h4>
<div
  class="container border border-3 rounded d-flex row justify-content-center m-5 p-5"
>
  <button class="btn btn-lg btn-warning shadow mb-3 mx-auto col-6">
    Kérem a következőt!
  </button>
  <table class="table text-light my-5">
    <thead>
      <tr>
        <th>Sorszám:</th>
        <th>Várakozás ideje:</th>
        <th>TAJ-szám:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>57 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>4</td>
        <td>50 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>5</td>
        <td>41 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>7</td>
        <td>32 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>9</td>
        <td>20 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>11</td>
        <td>9 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>12</td>
        <td>3 min</td>
        <td>000-000-000</td>
      </tr>
      <tr>
        <td>14</td>
        <td>1 min</td>
        <td>000-000-000</td>
      </tr>
    </tbody>
  </table>
</div>
