<div class="container-fluid h-100">
  <h4 class="pt-2">A sorszámosztó automata kijelzőjén megjelenő felület:</h4>
  <div class="container-fluid row mx-auto m-3 border border-3 rounded-3">
    <form
      class="container row col-6 my-5 mx-2 border border-1 rounded-2 p-3 form-group h-50"
    >
      <h3 class="pt-3">Üdvözöljük Rendelőnkben!</h3>
      <h5 class="py-3" style="font-size: 1em">
        Intézetünkben automatikus sorszám kiosztó rendszer működik. Amennyiben
        rendelkezik TAJ-számmal, kérjük az alábbi mezőbe írja be és nyomja meg a
        kívánt vizsgálathoz tartozó gombot.
      </h5>

      <label for="taj">TAJ szám:</label>
      <input
        name="taj"
        type="text"
        class="taj rounded my-2 col-10 mx-2 fs-6 p-3"
        placeholder="TAJ szám"
        pattern="\b[0-9]{3} ?[0-9]{3} ?[0-9]{3}\b"
      />
      <p class="text-end col-10" style="font-size: 0.8rem">
        (A TAJ-szám megadása nem kötelező)
      </p>

      <label type="submit" for="button" class="my-2"
        >Kérjük válasszon az alábbi vizsgálatok közül:</label
      >
      <div class="container d-flex row justify-content-evenly mx-auto">
        <button
          (click)="onButtonClick(exam)"
          *ngFor="let exam of exams$ | async"
          class="btn btn-primary btn-lg text my-2 col-3 mx-3 text-center shadow-lg"
          type="button"
        >
          {{ exam.megnevezes }}
        </button>
      </div>
    </form>

    <div class="col-4 bg-light text-dark my-5 mx-auto p-3 dots">
      <h4 class="py-2 text-secondary">Az Ön sorszáma:</h4>
      <h1 class="py-2 text-center" style="font-size: 5rem">003</h1>

      <h5 class="py-1 text-secondary">Vizsgálat kódja:</h5>
      <h4 class="pt-1 text-center">2</h4>

      <h5 class="py-1 text-secondary">Az Ön TAJ-száma:</h5>
      <h4 class="pt-1 text-center">000 000 000</h4>

      <h5 class="py-1 text-secondary">Érkezés ideje:</h5>
      <h4 class="pt-1 text-center">2023.02.18. 14:08</h4>

      <h5 class="py-1 text-secondary">Várakozók száma:</h5>
      <h4 class="pt-1 text-center">7</h4>
    </div>
  </div>

  <!-- Activate this code when the get request works!!!

      <div *ngIf="sorszamData" class="col-4 bg-light text-dark my-5 ms-5 p-3 dots">

      <h4 class="py-2 text-secondary">Az Ön sorszáma:</h4>
      <h1 class="py-2 text-center" style="font-size: 5rem">{{ sorszamData.sorszam }}</h1>

      <h5 class="py-1 text-secondary">Vizsgálat kódja:</h5>
      <h4 class="pt-1 text-center">{{ sorszamData.vizsgalatKod }}</h4>

      <h5 class="py-1 text-secondary">Az Ön TAJ-száma:</h5>
      <h4 class="pt-1 text-center">{{ sorszamData.taj }}</h4>

      <h5 class="py-1 text-secondary">Érkezés ideje:</h5>
      <h4 class="pt-1 text-center">{{ sorszamData.erkezesIdeje }}</h4>

      <h5 class="py-1 text-secondary">Várakozók száma:</h5>
      <h4 class="pt-1 text-center">{{ sorszamData.varakozok }}</h4>

    </div>
  -->
</div>
