.mainRow {
  animation: pulse 2s infinite;
  box-shadow: 0px 0px 50px 5px #4e4e4e;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 50px 5px #4e4e4e inset;
  }

  50% {
    transform: scale(1);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0) inset;
  }

  100% {
    transform: scale(1);
    box-shadow: 0px 0px 50px 5px #4e4e4e inset;
  }
}
