<h4 class="pt-3">A váróban elhelyezett központi kijelzőn megjelenő felület:</h4>
<div class="container mx-auto border border-3 rounded-3 py-3 px-5 m-5">
  <h1 class="text-center pt-4">Várakozók</h1>
  <table class="table text-light fs-5">
    <thead>
      <tr>
        <th class="pt-5 pb-3">Következő sorszám:</th>
        <th class="pt-5 pb-3">Vizsgáló:</th>
      </tr>
    </thead>
    <tbody class="px-3">
      <tr class="mainRow">
        <td>005</td>
        <td>Általános orvos</td>
      </tr>
      <tr>
        <td>006</td>
        <td>Általános orvos</td>
      </tr>
      <tr>
        <td>007</td>
        <td>Körzeti nővér</td>
      </tr>
      <tr>
        <td>008</td>
        <td>Bőrgyógyász</td>
      </tr>
      <tr>
        <td>009</td>
        <td>Általános orvos</td>
      </tr>
    </tbody>
  </table>
</div>
